<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Users - MovieWeb App</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
<header>
    <h1>Add Users</h1>
</header>
<main>
    <div class="container">
        <div class="add-movies-form">
            <h3>Add Movies</h3>
            <form action="/add_user" method="POST">
                <label for="name">User:</label>
                <input type="text" id="name" name="name">
                <button type="submit">Submit</button>
            </form>
            <a href="/users" class="link-button">Go Back to User Page</a>
        </div>
    </div>
</main>
<footer>
</footer>
</body>

</html>