<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <div class="user-list">
            <div>
                {% if message == "True" %}
                <h2 style="color:green">The movie has been added
                    successfully.</h2>
                {% endif %}
                {% if message == "False" %}
                <h2 style="color:red">Please add a movie first</h2>
                {% endif %}
                {% if message == "no_exist_movie" %}
                <h2 style="color:red">The movie does not exist. Please add a
                    valid movie title.</h2>
                {% endif %}
                {% if message == "add_user_blank" %}
                <h2 style="color:red">Name cannot be blank</h2>
                {% endif %}
                {% if message == "add_user_success" %}
                <h2 style="color:green">The user has been added
                    successfully.</h2>
                {% endif %}
                {% if message == "movie_not_null" %}
                <h2 style="color:red">Field cannot be blank</h2>
                {% endif %}
            </div>
            <h1>User</h1>
            {% for user in users %}
            <ul class="user-items">
                <li class="user-item">
                    <span class="user-name"><a href="/users/{{user.id}}">{{user.name}}</a></span>
                    <a class="add-movies" href="/users/{{user.id}}/add_movie">Add
                        Movies</a>
                </li>
            </ul>
            {% endfor %}
            <a class="add-movies" href="/add_user">Add
                User</a>
        </div>
    </div>
</main>
<footer>
</footer>
</body>

</html>